@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_input";
@import "./button";
@import "./a";

* {
  font-family: "Roboto";
}

.MuiDialog-root {
  z-index: 99999999 !important;
}


.MuiGrid-container {
  flex-wrap: unset !important;
}

.MuiButtonBase-root {
  flex: unset !important;
}
